<div class="aboutUsPage">

<h1> About Us </h1>

<h3>
Designed to merge the world of big artists and local acts to find where all your favourite musicians are playing in the one place. 

<br>
<br>

Giving the opportunity for emerging artists to display to there fans as to where they are performing/touring, so they can stay in the loop. 

<br>
<br>

Ability to follow these local acts as well as your favourite established Artists all in your My Artists page, which you can look at to stay up to date. 
</h3>
</div>