<h1> Create your own event or tour </h1>

<h1> Enter Event Information </h1>





<form action="/createevent" method="post">




	<h5>Tour/Event Location</h5>
	<br>
		<input name="tourevent" type="text" placeholder="e.g. Forum Melbourne">

		<br>
		<br>






		<h5>Street Address </h5>
	<br>
		<input name="address" type="text" placeholder="e.g. 742 Evergreen Terrace
">

		<br>
		<br>





	<h5>City</h5>
	<br>
		
<input type="text" name="city" >
		<br>
		<br>





	<h5>Date</h5>
	<br>
		<input name="dateofconcert" type="text" placeholder="">

		<br>
		<br>






	<h5>Time of concert</h5>
	<br>
		<input name="timeofconcert" type="text" placeholder="">

		
		<button>Submit</button>
</form>










