<h1> Create your own event or tour </h1>

<h2> Enter Event Information </h2>





<form action="/createevent" method="post">




	<label for="">Tour/Event Location</label>
	<br>
		<input name="tourevent" type="text" placeholder="e.g. Forum Melbourne">

		<br>
		<br>






		<label for="">Street Address </label>
	<br>
		<input name="address" type="text" placeholder="e.g. 742 Evergreen Terrace
">

		<br>
		<br>





	<label for="">City</label>
	<br>
		
<input type="text" name="city" >
		<br>
		<br>





	<label for="">Date</label>
	<br>
		<input name="dateofconcert" type="text" placeholder="">

		<br>
		<br>






	<label for="">Time of concert</label>
	<br>
		<input name="timeofconcert" type="text" placeholder="">

		<br>
		<br>

		<button>Submit</button>
</form>










