<div class="createOwnEventMain">

<h1> Create your own event or tour </h1>

<br>
<br>

<form action="/createevent" method="post">




	<h5>Tour/Event Location</h5>
	
		<input name="tourevent" type="text" placeholder="e.g. Forum Melbourne">

		<br>
		<br>






		<h5>Street Address </h5>
			<input name="address" type="text" placeholder="e.g. 742 Evergreen Terrace
">

		<br>
		<br>






	<h5>City Of Concert</h5>
	
		
<input type="text" name="city" placeholder="Melbourne, VIC, Australia">
		<br>
		<br>





	<h5>Date Of Concert</h5>
	
		<input name="dateofconcert" type="text" placeholder="Wednesday, 5th March 2018">

		<br>
		<br>






	<h5>Time of concert</h5>

		<input name="timeofconcert" type="text" placeholder="8:30pm">

		<div class="searchButtonIndexPageLoginSignUp">
		<button>Submit</button>
	</div>
</form>


</div>







