
<h1> Become an Artist  </h1> 


<form action="/createartist" method="post">
	
	<br>
		<input name="nameofartist" type="text" placeholder="Artist/Band Name">

		<br>
		




	<h1>Upload Image</h1>
	<br>
  <input type="file" name="image_url" accept="image/*">
  <br>
<br>





<h1>Bio</h1>

<div class="BioDiv">
  <textarea name="bio" type="text" cols="25" rows="4" placeholder="Write Something"></textarea>
</div>



<div class="searchButtonIndexPageLoginSignUp">
		<button>Submit</button>
	</div>
</form>

