
<h2> Become an Artist  </h2> 


<form action="/createartist" method="post">
	<label for="">Artist/Band Name</label>
	<br>
		<input name="nameofartist" type="text" placeholder="">

		<br>
		<br>




	<label for="">Upload Image</label>
	<br>
  <input type="file" name="image_url" accept="image/*">
  <br>
<br>





<label for="">Bio</label>
<br>
  <textarea name="bio" type="text" cols="25" rows="4"></textarea>

<br>
<br>

		<button>Submit</button>
</form>

