

<h1 class="titleartist"> Artist Search </h1>

<form action="/artist_search" method="get">
	<input class="searchartist" type="text" name="artist" placeholder="search artist">

	

<h4> Choose City </h4>


<input class="searchcity" type="text" name="city" placeholder="search by other city">

<button>Search</button>
</form> 

</div>