<h1> Artist Search </h1>

<form action="/artist_search" action="/noresultspage" method="get">
	<input type="text" name="artist" placeholder="search artist">

<h4> Choose Australian City </h4>


<form action="/artist_search" action="/noresultspage" method="get">
<select name="city">
  <option value="Melbourne">Melbourne</option>
  <option value="Brisbane">Brisbane</option>
  <option value="Sydney">Sydney</option>
  <option value="Perth">Perth</option>
  <option value="Adelaide">Adelaide</option>
  <option value="Darwin">Darwin</option>
  <option value="Canberra">Canberra</option>
</select>
<button>Search</button>
</form> 