<div class="mainIndexPage">
<br>

<div class="bothBoxes">


	<div class="firstBoxArtist">
		<h1 class="titleartist"> Artist Search </h1>

		<form action="/artist_search" method="get">
			
			
			<input class="searchartist" type="text" name="artist" placeholder="search artist">


	</div>



	<div class="firstBoxCity">
		<h1> Choose City </h1>

	
	<input class="searchcity" type="text" name="city" placeholder="search by other city">
	<div class="searchButtonIndexPage">

	<button>Search</button>
	</div>

	</form> 

	</div>


</div>

</div>