<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E & R</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body class="<%= 'homepage' if request.path == '/' %>">
<% if logged_in? %>
	User: <%= current_user.username %>

<form action="/session" method ="post">
	<input type="hidden" name ="_method" value="delete">
	<button>Logout</button>
</form>
<% end %>


<a href="/"> Home </a>

<nav>

	 

<div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">
		<div></div>
		<div></div>
		<div></div>
	</button>
	
  	<div id="myDropdown" class="dropdown-content">
		<a href="/login">Login</a>
		<a href="/signuppage">Sign up</a>
		<a href="/myartists">My Artists</a>
		<a href="/createevent">Create Event</a>
		<a href="/createartist">Create Artist</a>
		<a href="/myprofile">My Profile</a>
		<a href="/about">About</a>
  	</div>
</div


</nav>

<main>
  <%= yield %>
</main>

<script src="/javascripts/aplication.js"></script>

</body>
</html>