<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E & R</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

<div class="navBarTop">


<div class="homeButton">
<a href="/"> Home </a>
</div>

      <div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">
		<div></div>
		<div></div>
		<div></div>
	</button>
	
  	<div id="myDropdown" class="dropdown-content">
		<a href="/login">Login</a>
		<a href="/signuppage">Sign up</a>
		<a href="/createevent">Create Event</a>
		<a href="/createartist">Create Artist</a>
		<a href="/myprofile">My Profile</a>
		<a href="/about">About</a>
  	</div>
</div>

      <div class="topH1">
      <h1 >E&R</h1>
		</div>

      <div class="subTitleOne">
<h5 class="titleartist"> E & R (established and rising) </h5>
        </div>
    </div>

</head>


<body class="<%= 'homepage' if request.path == '/' %>">

<div class="frontPageUsername">
<% if logged_in? %>
	<h2>Username: <%= current_user.username%></h2>
</div>



<div class="logoutButtonLayout">
<form action="/session" method ="post">
	<input type="hidden" name ="_method" value="delete">
	<button>Logout</button>
</form>
<% end %>

</div>

<nav>

	 


</nav>

<main>
  <%= yield %>
</main>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/aplication.js"></script>
</body>
</html>