<h2> Login Page </h2>

<form action="/session" method="post">
	<label for="">Email</label>
		<input name="email" type="text" placeholder="email">
	<label for="">Password</label>
		<input name="password" type="password" placeholder="password">

		<button>Login</button>
</form>