<div class="mainLogin">
	



<h1> Login Page </h1>

<form action="/session" method="post">
<div class="inputsLoginPage">
		<input name="email" type="text" placeholder="email">
	
		<input name="password" type="password" placeholder="password">

	</div>
<div class="searchButtonIndexPageLogin">
		<button>Login</button>
	</div>
</form>

<div class="accountMessage">
<h5> Don't have an account yet? </h5>
</div>
<div class="searchButtonIndexPageLoginSignUp">
<a href="/signuppage">Sign Up</a>
</div>

</div>