
<div class="searchedartist">
<h1> <%= @name %></h1>
</div>
<br>
<br>
<div class="artistImage">
<img src="<%= @image %>" width="540" height="350" >
</div>

<div class="detailsArtistsNoResults">
<h1> No upcoming tours for <%= @name %> <br> in this city at this current time. </h1>
</div>

<div class="ArtistSearchAgainButton">
<a href="/">Search Again</a>
</div>
