<h2> Sign Up </h2>

<form action="/signuppage" method="post">
	<label for="">Username</label>
		<input name="username" type="text" placeholder="username">
	<label for="">Email</label>
		<input name="email" type="text" placeholder="email">
	<label for="">Password</label>
		<input name="password" type="password" placeholder="password">

		<button>Sign up</button>
</form>